<div class="d-flex flex-column">
    <a href="/create">
        <button type="button" class="btn btn-lg btn-success post-new-photo-button" style="width: 40rem;">
            POST A NEW PHOTO
        </button>
    </a>
    <div class="d-flex flex-wrap">
    {{#each petpicPosts as |post|}}
        <div class="card" id="post-{{id}}" style="width: 25rem;">
            <a href="/petpic/{{id}}">
                <img class="card-img-top" src="{{title}}">
            </a>
            <div class="card-body d-flex flex-column">
                <div class="post-metadata d-flex">
                    <div class="like-section d-flex p-2 flex-grow-1">
                        <p class="p-1"><i class="bi bi-heart-fill"></i></p> 
                        <p class="like-count p-1">LIKES: 
                            {{#if likedCount}}
                                {{likedCount}}
                            {{else}}
                                0
                            {{/if}}
                        </p>
                    </div>
                    <div class="post-metadata p-2">
                        <p>Posted by {{user.username}} on {{format_date createdAt}}</p>
                    </div>
                </div>
                <button type="button" class="btn btn-danger delete-post-button" id="{{id}}">DELETE THIS</button>
            </div>
        </div>
    {{/each}}
    </div>
</div>
{{!-- <script src="/js/like-signin.js"></script> --}}
{{!-- <script src="/js/like-nosignin.js"></script> --}}
<script src="/js/delete.js"></script>