<div class ="d-flex align-items-center flex-column">
    <div class="card" id="id" style="width: 30rem;">
        <img class="card-img-top" src="{{title}}">
        <div class="card-body d-flex">
            <div class="like-section d-flex p-2 flex-grow-1 ">
                {{#if logged_in }}
                    {{!-- If logged in and liked, render the button with color filled and trigger the unlike action upon click--}}
                    {{#if isLiked}}
                    <p class="p-1"><i class="bi bi-heart-fill unlike-button text-danger" id="{{id}}"></i></p>
                    {{else}}
                    {{!-- If logged in and not liked, render the button without fill color and trigger the like action upon click--}}
                    <p class="p-1"><i class="bi bi-heart like-button text-secondary" id="{{id}}"></i></p>
                    {{/if}}
                {{else}}
                    {{!-- If not logged in, render the button without fill color, with no action with like button click--}}
                    <p class="p-1"><i class="bi bi-heart like-button text-secondary" id="{{id}}"></i></p>
                {{/if}} 
                <p class="like-count p-1">{{likedCount}}</p>
            </div>
            <div class="post-metadata p-2 ">
                <p>Posted by {{user.username}} on {{format_date createdAt}}</p>
            </div>
        </div>
    </div>
    <div class="post-details">
        <p>Category: <span class="category-name"><a href="/categories/{{category_name}}">{{category_name}}</a></span> </p>   
    </div>
    <div class="comment">
            <h2>Comments</h2>
        {{#each comments as |comment|}}
            <div class="card comment-card" style="width: 30rem;">
                <div class="card-body">
                    <p>{{comment_text}}</p>
                    <p class="comment-metadata">{{user.username}} posted on {{format_date creation_date}}</p>
                </div>
            </div>
        {{/each}}
        </div>
</div>
        {{#if logged_in }}
            {{> comment-form}}
        {{/if}}


{{#if logged_in }}
    <script src="/js/like-signin.js"></script>
    <script src="/js/comment.js"></script>
{{else}}
    <script src="/js/like-nosignin.js"></script>
{{/if}}